div {
	border: 1px solid black;
	border-radius: 8px;
	margin: 25px;
	width: 50px;
	height: 50px;
	padding: 12px;
	font-weight: bold;
	color: white;
	box-shadow: 8px 6px gray;
}
#red {
	float:left;
	background-color: red;
}
#orange {
	float: left;
	background-color: orange;
}
#yellow {
	float: left;
	background-color: yellow;
}
#green { 
/*using clear right here bumps this element to another line */
	clear: left;
	float: left;
	background-color: green;
}
#blue {
	float: left;
	background-color: blue;
}
#violet {
	float: left;
	background-color: violet;
}
h1 {
	text-shadow: 1px 1px gray;
}
#ribbon {
	position: fixed;
	top: 0px;
	right: 0px;
}
.arrow {
	position: relative;
	bottom: 85px;
	left: 43px;
}